@model IEnumerable<EntityLayer.Concrete.About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_User.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Blog/Index">Ana Sayfa</a>
    </li>
    <li class="breadcrumb-item active">Hakkımızda</li>
</ol>
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hakkımızda</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    @foreach (var i in Model)
                    {
                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/WebLog/images/@i.AboutImage" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            @i.AboutTitle
                        </h3>
                        <p>
                            @i.AboutDetails
                        </p>
                    }
                </div>

            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/WebLog/images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Bültenimize Kayıt Olun</h4>
                        <p>Her Bildirimden Anında Haberiniz Olsun! </p>
                        <form action="~/Blog/MailGonder" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                            <input type="email" placeholder="Email Giriniz" name="Mail" required="">
                            <input type="submit" value="Kayıt Ol">
                        </form>
                    </div>



                    @await Component.InvokeAsync("RecentPost")

                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>


