@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2> Kategori Düzenle</h2>
<br />
@using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
{
    @Html.HiddenFor(b => b.CategoryID)
    <br />
    @Html.Label("Kategori Adı")
    <br />
    @Html.TextBoxFor(b => b.CategoryName, new { @class = "form-control", placeholder = "Kategori Adı Giriniz." })
    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
}
