
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>.Net Core Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Erkan Bostan, Blog, Erkan Blog" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/WebLog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/WebLog/css/single.css">
    <link href="~/WebLog/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/WebLog/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    @await Html.PartialAsync("UserHeader")
    <div class="banner-inner">
    </div>
    @RenderBody()
    @await Component.InvokeAsync("UserFooter")
</body>
</html>
