
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="~/PurpleAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/PurpleAdmin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/PurpleAdmin/assets/css/style.css">
    <link rel="shortcut icon" href="~/PurpleAdmin/assets/images/favicon.ico" />
</head>
